
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: rgb(39, 39, 41);
    margin: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.nav-items {
    color: white;
    list-style: none;
}

.nav-items:first-child {
    border-top: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;

}

.nav-items:hover {
    background-color: grey;
}


#about-me h1 {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

#about-me  p {
    text-align: center;
    
}

.portfolio {
    background-color: rgb(240, 240, 240);
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

#work .box {
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    flex-grow: 2;
}

#work .box h1 {
    text-align: center;
    position: absolute;
}

#work .box .grow-item {
    height: 100%;
}

#work .box img {
    list-style: none;
    display: block;
    background-color: aqua;
    height: 300px;
    margin: 6px;
    flex: 1;
    justify-content: space-evenly;
    
}













@media (max-width: 600px) {

    .navbar {
        flex-direction: column;

    }
    .nav-items {
        display: block;
        border-top: 1px solid white;
        width: 100%;
        text-align: center;
        padding: 0.5rem;

    }
    .nav-items:first-child {
        text-align: center;
        margin-bottom: 2rem;
    }

    #about-me .container {
        flex-direction: column;
    }

    #about-me .container h1 {
        margin-bottom: 0;

    }


    #work .portfolio .box {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #work .portfolio .box .grow-item:first-child {
        height: 600px;

    }
}

